<!DOCTYPE="html">
	<head>
		<meta charset="utf8">
		<title>Open Street Map VR Juna kartta</title>
		<!-- JQuery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<!-- Leaflet -->
		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin=""/>
		<script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js" integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg==" crossorigin=""></script>
		<!-- Socket.IO -->
		<script src="./JS/socket.io.js"></script>
		<!-- Misc -->
		<script src="./JS/Marker.js"></script>
		<script src="./JS/Map.js"></script>
		<script src="./JS/EntryLevel.js"></script>
		<link rel="stylesheet" href="./Style/stylesheet.css" />
		
	</head>
	<body>
		<div id="mapid" style="height:100%"></div>
	</body>

</html>