.marker-train {
    width:50px;
    height:50px;
    left:-20px;
    top:-20px;
}

.header-train-marker {
    color:black;
    z-index:54;
    position:relative;
    top:-50px;
    left:10px;
    text-align:center;
}